<?xml version="1.0" encoding="UTF-8"?>

<!-- Wix Project template to install Visio components -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:visio="http://schemas.microsoft.com/wix/Visio" >

  <?define Version="1.0.0.0"?>
  <?define ProductCode = "{$guid7$}" ?>
  <?define UpgradeCode = "{$guid5$}" ?>

  <Product Id="$(var.ProductCode)" Name="$productNameXML$ Setup" Language="1033" Version="$(var.Version)" Manufacturer="UnmanagedVisio" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" />

    <!-- check taht .NET 4 (client profile at least) is installed -->
    <PropertyRef Id="NETFRAMEWORK40CLIENT" />
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <PropertyRef Id="NETFRAMEWORK45" />
    
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40CLIENT OR NETFRAMEWORK40 OR NETFRAMEWORK45]]>
    </Condition>

    $if$ ($EnableWixUI$ == true)<!-- override default license -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    $endif$
    <!-- allow major upgrades -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- allow fast installation -->
    <Property Id="MSIFASTINSTALL" Value="7" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      $if$ ($addinProject$ == true)<ComponentGroupRef Id="AddinFiles"/>
      $endif$$if$ ($addVisioFiles$ == true)<ComponentGroupRef Id="VisioFiles"/>
    $endif$</Feature>

    $if$ ($EnableWixUI$ == true)<!-- UI settings -->
    <UI>
      $endif$$if$ ($WixUI$ == WixUI_Minimal)
      <UIRef Id="WixUI_Minimal"/>
      $endif$$if$ ($WixUI$ == WixUI_Mondo)
      <UIRef Id="WixUI_Mondo"/>
      $endif$$if$ ($WixUI$ == WixUI_InstallDir)
      <UIRef Id="WixUI_InstallDir"/>
      <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
      $endif$$if$ ($WixUI$ == WixUI_InstallDirNoLicense)
      <UIRef Id="WixUI_InstallDir"/>
      <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
      <!-- Skip license dialog -->
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="InstallDirDlg"
               Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2">1</Publish>
      $endif$$if$ ($WixUI$ == WixUI_Advanced)
      <UIRef Id="WixUI_Advanced"/>
      <Property Id="ALLUSERS" Value="2" />
      <Property Id="ApplicationFolderName" Value="$csprojectname$" />
      <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

      <Publish Dialog="InstallScopeDlg" Control="Next" Property="MSIINSTALLPERUSER" Value="1" >WixAppFolder = "WixPerUserFolder"</Publish>
      <Publish Dialog="InstallScopeDlg" Control="Next" Property="MSIINSTALLPERUSER" Value="{}" >WixAppFolder = "WixPerMachineFolder"</Publish>
    $endif$$if$ ($EnableWixUI$ == true)</UI>
    $endif$
  </Product>

  <!-- Define default directory structure -->
  
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="$csprojectname$">
          
        </Directory>
      </Directory>
    </Directory>
    
    $if$ ($addVisioFiles$ == true)<!-- Visio files to be included in setup -->
    <ComponentGroup Id="VisioFiles" Directory="APPLICATIONFOLDER">
      $endif$$visioFilesWxs$$if$ ($defaultVisioFiles$ == true)<!-- Sample template file. Feel free to modify the optional parameters -->
      <Component>
        <File Name="Stencil_1_M.vss">
          <visio:PublishStencil MenuPath="$productNameXML$\Stencil 1" />
        </File>
      </Component>
      <!-- Sample template file. Feel free to modify the optional parameters -->
      <Component>
        <File Name="Template_1_M.vst">
          <visio:PublishTemplate MenuPath="$productNameXML$\Template 1" />
        </File>
      </Component>
    $endif$$if$ ($addVisioFiles$ == true)</ComponentGroup>
    $endif$$if$ ($addinProject$ == true)
    <!-- Addin files to be included in setup -->
    <ComponentGroup Id="AddinFiles" Directory="APPLICATIONFOLDER">
      
      <!-- Add the addin dll to the setup. Reference using project referencing -->
      <Component>
        <File Source="$(var.$csprojectname$.TargetPath)" >
          $endif$$if$ ($comAddin$ == true)<visio:PublishAddin />$endif$$if$ ($addinProject$ == true)
        </File>
      </Component>
      $endif$$if$ ($vstoAddin$ == true)
      <!-- VSTO framework file -->
      <Component>
        <File Source="$(var.$csprojectname$.TargetDir)Microsoft.Office.Tools.Common.v4.0.Utilities.dll"></File>
      </Component>

      <!-- Add the addin manifest file -->
      <Component>
        <File Source="$(var.$csprojectname$.TargetPath).manifest"></File>
      </Component>
      
      <!--  The .vsto file is addin discovery file. Set up registry to point to this file using |vstolocal -->
      <Component>
        <File Source="$(var.$csprojectname$.TargetDir)$(var.$csprojectname$.TargetName).vsto">
          <visio:PublishAddin />
        </File>
      </Component>
      $endif$$if$ ($addinProject$ == true)
    </ComponentGroup>
    $endif$
  </Fragment>
</Wix>