<?xml version="1.0" encoding="UTF-8"?>

<!-- Wix Project template to install Visio components -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:visio="http://schemas.microsoft.com/wix/Visio" >

  <?define Version="1.0.0.0"?>
  <?define ProductCode = "{$guid7$}" ?>
  
  <?if $(var.Platform)=x64 ?>
  <?define Win64YesNo="yes" ?>
  <?define UpgradeCode = "{$guid5$}" ?>
  <?define pf="ProgramFiles64Folder" ?>
  <?else ?>
  <?define Win64YesNo="no" ?>
  <?define UpgradeCode = "{$guid6$}" ?>
  <?define pf="ProgramFilesFolder" ?>
  <?endif ?>

  <Product Id="$(var.ProductCode)" Name="$csprojectname$ Setup" Language="1033" Version="$(var.Version)" Manufacturer="UnmanagedVisio" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="$(var.Platform)" />

    <!-- check taht .NET 4 (client profile at least) is installed -->
    <PropertyRef Id="NETFRAMEWORK40CLIENT" />
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <PropertyRef Id="NETFRAMEWORK45" />
    
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40CLIENT OR NETFRAMEWORK40 OR NETFRAMEWORK45]]>
    </Condition>

    $if$ ($EnableWixUI$ == true)<!-- override default license -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    $endif$
    <!-- allow major upgrades -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- allow fast installation -->
    <Property Id="MSIFASTINSTALL" Value="7" />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      $if$ ($addinProject$ == true)<ComponentGroupRef Id="AddinFiles"/>
      $endif$<ComponentGroupRef Id="VisioFiles"/>
    </Feature>

    $if$ ($EnableWixUI$ == true)<!-- UI settings -->
    <UI>
      <UIRef Id="$WixUI$"/>
      $endif$$if$ ($WixUI$ == WixUI_InstallDir)<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
      $endif$$if$ ($WixUI$ == WixUI_InstallDirNoLicense)
      <!-- Skip license dialog -->
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="InstallDirDlg"
               Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2">1</Publish>
    $endif$</UI>
    
  </Product>

  <!-- Define default directory structure -->
  
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.pf)">
        <Directory Id="INSTALLFOLDER" Name="$csprojectname$">

        </Directory>
      </Directory>
    </Directory>

    <!-- Visio files to be included in setup -->
    <ComponentGroup Id="VisioFiles" Directory="INSTALLFOLDER">
      $visioFilesWxs$
      $if$ ($defaultVisioFiles$ == true)<!-- Sample template file. Feel free to modify the optional parameters -->
      <Component>
        <File Name="Stencil_1_M.vss">
          <visio:PublishStencil MenuPath="$csprojectname$\Stencil 1" />
        </File>
      </Component>
      <!-- Sample template file. Feel free to modify the optional parameters -->
      <Component>
        <File Name="Template_1_M.vst">
          <visio:PublishTemplate MenuPath="$csprojectname$\Template 1" />
        </File>
      </Component>
      $endif$
    </ComponentGroup>
    $if$ ($addinProject$ == true)
    <!-- Addin files to be included in setup -->
    <ComponentGroup Id="AddinFiles" Directory="INSTALLFOLDER">
      
      <!-- Add the addin dll to the setup. Reference using project referencing -->
      <Component>
        <File Source="$(var.$csprojectname$.TargetPath)" />
      </Component>
      
      <!-- Add the addin manifest file -->
      <Component>
        <File Source="$(var.$csprojectname$.TargetPath).manifest"></File>
      </Component>
      
      <!--  The .vsto file is addin discovery file. Set up registry to point to this file using |vstolocal -->
      <Component>
        <File Id="Addin_vsto" Source="$(var.$csprojectname$.TargetDir)$(var.$csprojectname$.TargetName).vsto"></File>
        <RegistryKey Root="HKLM" Key="Software\Microsoft\Visio\Addins\$csprojectname$.Addin">
          <RegistryValue Name="Manifest" Type="string" Value="[#Addin_vsto]|vstolocal" />
          <RegistryValue Name="Description" Type="string" Value="$csprojectname$" />
          <RegistryValue Name="CommandLineSafe" Type="integer" Value="1" />
          <RegistryValue Name="FriendlyName" Type="string" Value="$csprojectname$"/>
          <RegistryValue Name="LoadBehavior" Type="integer" Value="3" />
        </RegistryKey>
      </Component>
      
      <!-- VSTO framework file -->
      <Component>
        <File Source="$(var.$csprojectname$.TargetDir)Microsoft.Office.Tools.Common.v4.0.Utilities.dll"></File>
      </Component>

    </ComponentGroup>
    $endif$
  </Fragment>
</Wix>