<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define Version="1.0.0.0"?>
  <?define ProductCode = "{$guid7$}" ?>
  <?define UpgradeCode = "{$guid5$}" ?>

  <Product Id="$(var.ProductCode)" Name="$csprojectname$ Setup" Language="1033" Version="$(var.Version)" Manufacturer="UnmanagedVisio" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86" />

    <!-- check taht .NET 4 (client profile at least) is installed -->
    <PropertyRef Id="NETFRAMEWORK40CLIENT" />
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40CLIENT]]>
    </Condition>

    <!-- allow major upgrades -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentRef Id="$csprojectname$.dll" />
      <ComponentRef Id="$csprojectname$.registration" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir"/>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$csprojectname$">

          <Component Id="$csprojectname$.registration">
            <RegistryKey Root="HKMU" Key="Software\Microsoft\Visio\Addins\$progid$">
              <RegistryValue Name="CommandLineSafe" Type="integer" Value="0" />
              <RegistryValue Name="FriendlyName" Type="string" Value="$csprojectname$" KeyPath="yes" />
              <RegistryValue Name="LoadBehavior" Type="integer" Value="3" />
            </RegistryKey>
          </Component>

        </Directory>
      </Directory>
    </Directory>
  </Fragment>

</Wix>