<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <?ifdef VS2017 ?>
      <Binary Id="VisioCustomActions" SourceFile="$(var.SolutionDir)\$(var.Configuration).2017\VisioCustomActions.dll"/>
    <?else ?>
      <Binary Id="VisioCustomActions" SourceFile="$(var.SolutionDir)\$(var.Configuration)\VisioCustomActions.dll"/>
    <?endif?>
  </Fragment>

  <Fragment>
    <CustomAction Id="UpdateConfigChangeID32" BinaryKey="VisioCustomActions" DllEntry="UpdateVisioConfigChangeID32" Execute="deferred" Impersonate="no" Return="ignore" />
    <CustomAction Id="UpdateConfigChangeID64" BinaryKey="VisioCustomActions" DllEntry="UpdateVisioConfigChangeID64" Execute="deferred" Impersonate="no" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="UpdateConfigChangeID32" After="InstallFiles" Overridable="yes" />
      <Custom Action="UpdateConfigChangeID64" After="InstallFiles" Overridable="yes" />
    </InstallExecuteSequence>
  </Fragment>


  <Fragment>
    <CustomAction Id="SchedAddinRegistration" BinaryKey="VisioCustomActions" DllEntry="SchedAddinRegistration" Execute="immediate" Return="check" SuppressModularization="yes" Impersonate="yes" />
    <CustomAction Id="ExecAddinRegistration" BinaryKey="VisioCustomActions" DllEntry="ExecAddinRegistration" Execute="deferred" Impersonate="no" Return="ignore" SuppressModularization="yes" />
    <CustomAction Id="RollbackAddinRegistration" BinaryKey="VisioCustomActions" DllEntry="ExecAddinRegistration" Execute="rollback" Impersonate="no" Return="ignore" SuppressModularization="yes" />

    <InstallExecuteSequence>
      <Custom Action="SchedAddinRegistration" Before="RemoveFiles" Overridable="yes" />
    </InstallExecuteSequence>
  </Fragment>

</Wix>
