<?xml version="1.0" encoding="UTF-8"?>

<!-- 
  Wix Project template to install Visio components
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:visio="http://schemas.microsoft.com/wix/Visio" >

  <?define Version="1.0.0.0"?>
  <?define ProductCode = "{$guid7$}" ?>
  <?define UpgradeCode = "{$guid5$}" ?>

  <Product Id="$(var.ProductCode)" Name="$csprojectname$ Setup" Language="1033" Version="$(var.Version)" Manufacturer="UnmanagedVisio" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86" />

    <!-- check taht .NET 4 (client profile at least) is installed -->
    <PropertyRef Id="NETFRAMEWORK40CLIENT" />
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40CLIENT]]>
    </Condition>

    <!-- allow major upgrades -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Property Id="MSIFASTINSTALL" Value="7" />
    
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentGroupRef Id="AddinFiles"/>
      <ComponentGroupRef Id="VisioFiles"/>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir"/>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$csprojectname$">

        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="VisioFiles" Directory="INSTALLFOLDER">

          <Component>
            <File Name="Stencil_1_M.vss">
              <visio:PublishStencil MenuPath="$projectname$\Stencil 1" />
            </File>
          </Component>

          <Component>
            <File Name="Template_1_M.vst">
              <visio:PublishTemplate MenuPath="$projectname$\Template 1" />
            </File>
          </Component>

    </ComponentGroup>

    <ComponentGroup Id="AddinFiles" Directory="INSTALLFOLDER">
      <Component>
        <File Id="Addin_dll" Source="$(var.$csprojectname$.TargetPath)" />
      </Component>
      <Component>
        <File Id="Addin_dll_manifest" Source="$(var.$csprojectname$.TargetPath).manifest"></File>
      </Component>
      <Component>
        <File Id="Addin_vsto" Source="$(var.$csprojectname$.TargetDir)$(var.$csprojectname$.TargetName).vsto"></File>
        <RegistryKey Root="HKLM" Key="Software\Microsoft\Visio\Addins\$csprojectname$.Addin">
          <RegistryValue Name="Manifest" Type="string" Value="[#Addin_vsto]|vstolocal" />
          <RegistryValue Name="Description" Type="string" Value="$csprojectname$" />
          <RegistryValue Name="CommandLineSafe" Type="integer" Value="1" />
          <RegistryValue Name="FriendlyName" Type="string" Value="$csprojectname$"/>
          <RegistryValue Name="LoadBehavior" Type="integer" Value="3" />
        </RegistryKey>
      </Component>
      <Component>
        <File Source="$(var.$csprojectname$.TargetDir)Microsoft.Office.Tools.Common.v4.0.Utilities.dll"></File>
      </Component>

    </ComponentGroup>

  </Fragment>
</Wix>